body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 64px;

  background-color: #eabe71;
  background-image: linear-gradient(45deg, #eabe71, #2f6568);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 50px;
  font-weight: 700;
  color : #c38a37;
  align-self: center;
}

.main-second-title {
  align-self: center;
  color: #eabe71;
  font-size: 20px;
  font-weight: 600;
}

.subheader-text {
  font-size: 30px;
  font-weight: 700;
  color: #c38a37;
}

.body-text {
  
  width : 90%;
  font-size: 16px;
  font-weight: 300;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

