
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 30px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-main {
  width: 100%;
  padding: 30px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(black 40%, rgba(22, 41, 54,0));
}

.title-background {
  padding-bottom: 70px;
  margin-bottom: -50px;
  background-image: linear-gradient(black 70%, rgba(22, 41, 54,0));
}

.nav-title-link:link { color: white; text-decoration: none;}
.nav-title-link:visited { color: white; }
.nav-title-link:hover { color: white; }
.nav-title-link:active { color: white; }

a:link { color: #eabe71; }
a:visited { color: #eabe71; }
a:hover { color: #eabe71; }
a:active { color: #eabe71; }


ul {
  list-style: none;
}

/*ul li::before {
  content: "\2022";
  color: #eabe71;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}*/

ul li {
  padding: 0px 0px 15px 0px;
}

ul li:before {
  content: '';
  display: inline-block;
  padding: 10px 10px 5px 15px;

  background-image: url('../assets/images/point2.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;

  }
  .navbar-main {
    padding: 20px 20px;

  }
}


/* Button Styling */

a.button {
  padding: 8px 16px;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

a.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}


/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-image: linear-gradient( rgba(22, 41, 54,0),black 60%);
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: white
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}