.project__card {
  width: 70%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.project__card--right {
  width: 60%;
  height: 90vh;
  margin: auto;
  overflow-y: auto;

  & h1 {
    padding: 0;
    margin: 0;
    padding-left: .5em;
    padding-top: 1em;

    font-size: 3vw;

  }

  & p {
    padding: 0;
    margin: 0;
    padding-left: 1.5em;
    padding-bottom: 1em;
    font-size: 1.5vw;
    color: var(--secondary-color);
  }

}

.project__card--left {
  width: 40%;
  height: 90vh;
  margin: auto;
  overflow: hidden;

  & img {
    margin: auto;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 90%;
  }
}

.project__card--links {
  display: flex;
  justify-content: space-around;
}

.project__link {
  color: var(--text);
  text-decoration: none;
  font-size: large;
  border-radius: 5em;
  padding: 1em;

  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);

  &:visited {
    color: var(--text);
  }

  &:hover {
    color: black;
    background-color: var(--nav-active-background);
  }
}

@media only screen and (max-width: 768px) {
  .project__card--left {
    display: none;
  }

  .project__card--right {
    width: 100%;
    overflow-y: visible;
    height: fit-content;

    & h1 {
      font-size: large;

    }

    & p {
      font-size: medium;
    }
  }

  .project__card {
    width: 100%;
    height: fit-content;
  }
}