.project__list {
  width: 30%;
  height: 90vh;
  border-left: 2px solid var(--second-background);
  overflow-y: scroll;
}

.project__list__card {
  width: 100%;
  border-bottom: 2px solid var(--second-background);
  & h1 {
    padding: 0;
    margin: 0;
    padding-left: 1em;
    padding-top: 1em;
    font-size: 2vw;
    
  } 

  & p {
    padding: 0;
    margin: 0;
    padding-left: 2.5em;
    padding-bottom: 2em;
    font-size: 1.3vw;
    color: var(--secondary-color);
  }

}


@media only screen and (max-width: 768px) {
  .project__list {
    display: none;
  }

}