@use "@style/vars.scss" as *;
@use "@style/media.scss" as *;

.list {
  margin: $measure;
  border-radius: $border-radius-b;

  @include mobile {
    width: 100%;
  }

  & .card {
    max-height: none;
    width: 70vw;

    @include mobile {
      width: 100%;
    }
  }

  & li {
    $borderSize : $measure * .5;
    $paddingSize : $measure * 2;
    $paddingCircle: -($borderSize + $measure * 1.2);

    $decorColor : getColor(a, "light");
    $decorDarkColor : getColor(a, "dark");
    position: relative;
    display: flex;
    flex-direction: column;

    padding-left: $paddingSize;
    padding-bottom: $measure * 2;

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: $paddingCircle;
      top: 0;
      display: inline-block;
      color: transparent;
      height: $measure * 2;
      width: $measure * 2;
      background: getColor(e, "light");

      border-radius: 100%;
      margin-top: $measure * 2.5;
      border: $borderSize solid $decorColor;

      body.dark-mode & {
        border: $borderSize solid $decorDarkColor;
        background: getColor(b, "dark");
      }

      @include mobile {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: $paddingCircle * .25;
      top: 0;
      display: inline-block;
      color: transparent;
      height: 130%;

      border: $borderSize * .5 solid $decorColor;

      body.dark-mode & {
        border: $borderSize * .5 solid $decorDarkColor;
      }

      @include mobile {
        display: none;

      }
    }

    &:first-child::before {
      margin-top: $measure * 3;
    }

    &:last-child {
      margin-right: 0;
      flex-grow: 0;

      &::before {
        border: none;

        body.dark-mode & {
          border: none;
        }
      }
    }
  }
}