@use "sass:map";
@use "@style/vars.scss" as *;
@use "@style/font.scss" as *;
@use "@style/media.scss" as *;

@mixin hero() {
  background-color: getColor(f, "light");
  margin: 0;

  body.dark-mode & {
    background-color: getColor(e, "dark");
  }
}

.hero {
  @include hero();
}

.hero-b {
  @include hero();
  align-items: start;
  justify-content: end;

  & h1 {
    @extend .h1--big;
  }

  & h2 {
    @extend .h2--big;
  }

  @include mobile {
    @include hero();
  }
}

.hero-c {
  @include hero();


  $biColor : getColor(a, "dark");



  body.dark-mode & {
    $biColorDark : getColor(d, "light");
    background-image: linear-gradient($biColorDark 1px,
        transparent 1px,
        transparent calc(100% - 1px), $biColorDark calc(100% - 1px)),
      linear-gradient(90deg,
        $biColorDark 1px,
        transparent 1px,
        transparent calc(100% - 1px),
        $biColorDark calc(100% - 1px)
      );
  }

  background-image: linear-gradient($biColor 1px,
    transparent 1px,
    transparent calc(100% - 1px), $biColor calc(100% - 1px)),
  linear-gradient(90deg,
    $biColor 1px,
    transparent 1px,
    transparent calc(100% - 1px),
    $biColor calc(100% - 1px));

  @include mobile {
    background-color: getColor(f, "dark");
    background-image: none;

    body.dark-mode & {
      background-color: getColor(e, "dark");
      background-image: none;
    }
  }

  background-size: 5vw 5vw;
  overflow: hidden;

  &--spotlight {
    margin: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, black 100%),
    linear-gradient(to bottom, rgba(255, 14, 14, 0) 90%, black 100%);
    z-index: 1;

    @include mobile {

      & h1,
      h2,
      h3 {
        color: getColor(c, "light");
        padding-bottom: $measure * 1.5;
      }

      & p,
      i {
        color: getColor(c, "light");
      }

      background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, black 90%);
    }
  }
}