:root {
  --main-background-color: black;
  --main-background: #1f1f1f;
  --line-background: #cac8b941;
  --second-background: #cac8b9;

  --nav-active-background: white;

  --main-color: #3a4d5f;
  --secondary-color: #1985A1;
  --second-color: rgba(255, 255, 255, 0.87);
  --footer-color: rgb(13, 13, 20);

  --hover-color: #314150;

  --main-height: 80vh;

}

html,
body,
#root {
  height: 100vh;
}

body {
  width: 100%;
  margin: 0;
  background: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  color: var(--second-color);
  margin: 0, 0;
}

.main {
  margin: 0;
  padding: 0;
  min-height: var(--main-height);
}

.footer {
  min-height: 10vh;
  background-color: var(--footer-color);

  & p {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {

  #root {
    width: 100%;
    border-radius: 0;
  }

  body {
    padding-top: 0%;

  }
}