@use "@style/vars.scss" as *;

.title {
  text-align: center;
  padding: $measure * 8;

  background-color: getColor(e, "light");

  body.dark-mode & {
    background-color: getColor(b, "dark");
    color: getColor(a, "dark");
  }
}

.title-a {
  text-align: center;
  padding: $measure * 8;

  background-image: linear-gradient(to bottom, black 0%,getColor(e, "light") 30%);

  body.dark-mode & {
     background-image: linear-gradient(to bottom, black 0%,getColor(b, "dark") 30%);
    color: getColor(a, "dark");
  }
}