.section--presentation {
  height: 100vh;
  width: 100%;
  background: var(--main-background);;
}

.section--projects {
  height: 100vh;
  width: 100%;
  background: var(--second-background);;
}



@media only screen and (max-width: 768px) {
  .home__article {
    width: 100%;
  }

}