@use "@style/vars.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  max-height: $measure * 50;
  width: $measure * 50;
  background-color: getColor(d, "light");
  border-radius: $border-radius-b;
  overflow: hidden;
  white-space: pre-line;

  &--header {
    min-height: $measure * 20;
    overflow: hidden;

  }

  &--body {
    height: $measure * 15;
    padding: $measure * 2;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &--head {
      display: flex;
      justify-content: space-between;
    }

    & p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--body-a {
    //height: $measure * 15;
    padding: $measure * 2;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &--head {
      display: flex;
      justify-content: space-between;
    }

    & p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    min-height: $measure * 5;
    align-self: flex-end;
    justify-content: space-evenly;
    align-items: center;
  }


  body.dark-mode & {
    background-color: getColor(d, "dark");
    color: getColor(a, "dark");
  }
}