@use "@style/vars.scss" as *;
@use "@style/media.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  max-height: $measure * 50;
  width: $measure * 50;
  background-color: getColor(d, "light");
  border-radius: $border-radius-b;
  overflow: hidden;
  white-space: pre-line;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @include mobile {
    width: 100%;
    max-height: none;
  }

  &--header {
    min-height: $measure * 20;
    overflow: hidden;
    border: solid $measure * .25 getColor(d, "light");
    border-top-left-radius: $border-radius-b;
    border-top-right-radius: $border-radius-b;
    border-bottom: none;

    body.dark-mode & {
      border-color: getColor(d, "dark");
    }
  }

  &--body {
    height: $measure * 17;
    padding: $measure * 2;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &--head {
      display: flex;
      justify-content: space-between;
      padding-bottom: $measure * 2;

      @include mobile {
        flex-direction: column;
      }
    }

    & p {
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile {
        height: fit-content;
      }
    }

    @include mobile {
      height: auto;
    }
  }

  &--body-a {
    padding: $measure * 2;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &--head {
      display: flex;
      justify-content: space-between;
    }

    & p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    min-height: $measure * 5;
    align-self: flex-end;
    justify-content: space-evenly;
    align-items: center;
  }


  body.dark-mode & {
    background-color: getColor(d, "dark");
    color: getColor(a, "dark");
  }
}