.footer__ul {
  width: fit-content;
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin: auto auto;
  text-align: center;

  & li {
    font-size: xx-large;
    padding-left: .25em;
    padding-right: .25em;

    & a {
      color: var(--text);
      text-decoration: none;
    }

    & a:visited {
      color: var(--text);
    }

    & a:hover {
      color: var(--hover);
    }
  }
}

.footer__section--merger {
  height: 5em;
  background-color: var(--second-background);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom: 0;
  transform: rotate(180deg);
}

.footer__section--info {
  height: 15em;
  text-align: center;
}

.footer__img {
  height: 6em;
  display: block;
  margin: auto auto;
  padding-bottom: 2em;
}

@media only screen and (max-width: 768px) {
  .footer__section--merger {
    background-color: black;

  }

}