@use "sass:map";

/*
    Foundations
*/
// * COLORS
$color-a: #0f0f0f;
$color-b: rgba(255, 255, 255, 0.87);
$color-c: #f7f8f4;


/* Accent Color */
$color-d: #cac8b9;
$color-e: #45627c;
$color-f: #1985A1;
$color-g: #fdb335;
$color-h: #f76e4a;
$color-i: rgb(255 255 255 / 30%);


$color-dark-d: #1f1f1f;
$color-dark-e: #45627c;
$color-dark-f: #1985A1;
$color-dark-g: #fdb335;
$color-dark-h: #1985A1;
$color-dark-i: rgb(0 0 0 / 30%);

$a : #1f1f1f;
$b : #cac8b941;
$c : #cac8b9;
$d : #45627c;
$e : #1985A1;
$f : rgba(255, 255, 255, 0.87);
$g : rgb(13, 13, 20);

$color-options: (
    a: $color-a,
    b: $color-b,
    c: $color-c,
    d: $color-d,
    e: $color-e,
    f: $color-f,
    g: $color-g,
    h: $color-h,
    i: $color-i,
);

$color-options-dark: (
    a: $color-b,
    b: $color-a,
    c: $color-c,
    d: $color-dark-d,
    e: $color-dark-e,
    f: $color-dark-f,
    g: $color-dark-g,
    h: $color-dark-h,
    i: $color-dark-i,
);

$colorbg-options: (
    a: $color-a,
    b: $color-b,
    c: $color-c,
    d: $color-d,
    e: $color-e,
);

@function getColor($color, $theme : "light") {
    @if($theme =="light") {
        @return map.get($color-options, $color);
    }

    @return map.get($color-options-dark, $color);
}



// * TYPOGRAPHY
$type-a: 'Arial', sans-serif;

// * LAYOUT
$viewport-type: max-width;
$columns: 12;
$gutter-width: 32px;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: -1 * $half-gutter-width;

// * Container
$g-container-fluid-max-width: 2000px;
$g-container-max-width: 1300px;
$g-container-width: 90%;
$g-container-width-mobile: 95%;

// * breakpoints
$all: 0;
$desktop: 1700px;
$laptop: 1570px;
$tabletl: 1300px;
$tabletm: 1024px;
$tablets: 810px;
$mobile: 580px;

$breakpoints-grid: (
    all: $all,
    desktop: $desktop,
    laptop: $laptop,
    tabletl: $tabletl,
    tabletm: $tabletm,
    tablets: $tablets,
    mobile: $mobile,
    ) !default;



/*
    End Foundations
*/

// * Measure
$measure: 0.5rem;
/* 0.5rem = 8px */

// * border
$border-radius-a: $measure;
$border-radius-b: $measure * 3;