.nav {
    z-index: 2;
    position: fixed;
    bottom: 5%;
    right: 50%;
    height: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    & ul {
        position: inherit;
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: blur(10px);

        display: flex;
        flex-flow: row;

        list-style-type: none;
        padding: 0;
        margin: 0;

        border-radius: 50px;

        & li {

            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 2em;
            padding-right: 2em;
            overflow: hidden;
            transition-duration: .5s;
        }
    }
}

.nav__a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
    }

    &:active,
    &:visited {

        text-decoration: none;
    }




}

li:has(.nav__a--active) {
    color: white;
    background-color: var(--nav-active-background);
    overflow: hidden;
    border-radius: 50px;
}


@media only screen and (max-width: 768px) {

    .nav {
        height: auto;

        & ul {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-left: 0;

            & li {
                padding-top: .5em;
                padding-bottom: .5em;
            }
        }
    }
}